<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush"  style="margin-top:100px;">
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarNotifi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đề Tài</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarNotifi">
                <a class="dropdown-item" href="#">Đăng ký Nghiên cứu mới</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đăng ký Báo cáo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Quản lý Nghiên cứu</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarStatemnet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài Khoản</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarStatemnet">
                <a class="dropdown-item" href="/Tài-Khoản/Thông-tin"> Thông tin cá nhân</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Đổi Mật Khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Thoát</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a href="https://drive.google.com/drive/u/0/my-drive" id="link-form" target="_blank"> Biểu Mấu</a>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a href="">Danh Mục Nghiên Cứu</a>
        </div>
    </div>
</div>

