<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarTopic" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xét duyệt</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarTopic">
                <a class="dropdown-item" href="#">Đăng ký mới</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Gia hạn</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Hủy bỏ</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lịch sử</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarText" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thống Kê Đề Tài</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarText">
                <a class="dropdown-item" href="#">Thống kê</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tìm theo tên đề tài</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarText" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hệ thống danh mục</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarText">
                <a class="dropdown-item" href="#">Quản lý Danh mục</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Quản lý Phân loại danh mục</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarText" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Biểu Mẫu</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarText">
                <a class="dropdown-item" href="#">Quản lý</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Thêm</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarNotifi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thông báo</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarNotifi">
                <a class="dropdown-item" href="#">Quản lý</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Thêm</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarStatemnet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lịch Báo cáo</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarStatemnet">
                <a class="dropdown-item" href="#">
                    Quản lý
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Thêm</a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a href="#">Đổi Mật Khẩu</a>
        </div>
       


    </div>

</div>
