<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush"  style="margin-top:100px;">
        <div class="list-group-item list-group-item-action bg-light">
           
            <a href=""><i class='fas fa-pencil-alt'></i> Đăng ký Nghiên Cứu</a>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a href=""><i class='fas fa-file-alt'></i> Biểu Mấu</a>
        </div>
        <div class="list-group-item list-group-item-action bg-light">
            <a href=""><i class="fa fa-table"></i> Danh Mục Nghiên Cứu</a>
        </div>
    </div>
</div>


